.app__nav {
  width: 100%;
  height: 100px;
  background-color: rgba(0, 77, 0, 0.889);
  display: flex;
  align-items: flex-end;  
}

.nav-logo {
  color: white;
  font-size: 50px;
  font-weight: 700;
  font-style: italic;
  margin: 1rem;
}

.nav-links {
  display: flex;
  margin: 1rem;

  .nav-link {
    text-decoration: none;
    color: white;
    margin: 1rem;
    margin-bottom: .5rem;
  }
}

.nav-end {
  margin-left: auto;
  // margin-bottom: 1.5rem;
  margin-right: 1rem;
  color: white;

  .nav-end--profile {
    background-color: white;
    color: black;
    font-weight: 600;
    font-size: .8rem;
    padding: .3rem;
    border-radius: 5px;
  }

  .nav-end--logout {
    background-color: black;
    font-size: .8rem;
    font-weight: 700;
    text-align: center;
    margin: 15px 0;
    border-radius: 5px;
    padding: 5px 0;
    cursor: pointer;    

    &:active {
      outline: solid 1px white;
    }
  }
}
